

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


Header{
  width: 100%;
  display: flex;
  flex-direction: row;
  background: rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.brand{
  margin-left: 4%;
}

.nav{
  margin-right: 4%;
}
.nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 15px;
}

.nav ul li{
  cursor: pointer;
  margin: 0;
  padding: 0;
}


.presentation{
  background: url("http://192.168.1.5:3000/images/pizza-bg.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 99vh;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation .left{
  
  margin-left: 4%;
  padding: 50px;
  
  
}

.presentation .left h1{
  font-size: 65px;

}
.presentation .left p{
  font-size: 23px;
}

.presentation .left button{
  padding: 8px;
  width: 120px;
  margin-top: 8px;
  background: transparent;
  color: #fff;
  border-color: #fff;
  outline: none;
  border: 2px solid #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
}

.presentation .left button:hover{
  background: #fff;
  color: black;
}



.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
}

.about h1{
  font-size: 3em;

}

.about p{
  font-size: 25px;
}
.about .content{
  width: 100%;
}

.container-pizze{
  margin-top: 120px;
  text-align: center;
}

.container-pizze h1{
  margin-bottom: 50px;
}

.pizze{
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pizze .card img{
  height: 120px;
}

.pizze .card{
  box-shadow: 0px 3px 18px 13px #000000;
  border-radius: 8px;
  background: #fff;
  cursor:pointer;
  width: 250px;
  padding:40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.single-pizza{
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.single-pizza .actions{
  display: flex;
  flex-direction: column;
  
  
}
.single-pizza img{
  
  filter: drop-shadow(-6px 56px 22px #000);

  

}

.single-pizza h1{
  font-size: 55px;
}

.single-pizza p{
  font-size: 25px;
}

.single-pizza .prezzo{
  font-size: 45px;

}

.single-pizza .actions{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 8px;
  
}
.single-pizza button{
  padding: 8px;
  font-size: 18px;
  width: 120px;
  background: rgb(11, 94, 11);
  color: #fff;
  outline: none;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.single-pizza button:hover{
  background:rgb(16, 139, 16);
}

@media only screen and (max-width: 600px){
  .single-pizza{
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
  }

  .single-pizza img{
    height: 250px;
  }
  .actions{
    width: 100%;
    align-items: center;
  }
  .actions button{
    width: 50%;
  }
}